# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Sorting Tool (Python)/*
!/Sorting Tool (Python)/task/
/Sorting Tool (Python)/task/*
!/Sorting Tool (Python)/task/main.py
!/Sorting Tool (Python)/task/out.txt
